<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bannerArticle</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="containerBanner">
        <div class="titleBanner">
            <h1>Nuestros ingredientes</h1>
        </div>
        <div class="subTitleBanner">
            <p>Subheading that sets up context, shares more info about the<br>
                author, or generally gets people psyched to keep reading</p>
        </div>
        <div class="imageBanner">
            <img src="../assets/images/banner.png" alt="food on a table and the chefs tasting it">
        </div>
    </div>
    
</body>
</html>