<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="pageContainer">
        <div class="mainContainer">
            <div class="contactsContainer">
                <div class="contactsH1">
                    <h1>Contactos</h1>
                </div>
                <div class="Helena">
                    <h2>Helena</h2>
                    <h3>email@figmasfakedomain.net</h3>
                </div>
                <div class="Oscar">
                    <h2>Oscar</h2>
                    <h3>email@figmasfakedomain.net</h3>
                </div>
                <div class="Daniel">
                    <h2>Daniel</h2>
                    <h3>email@figmasfakedomain.net</h3>
                </div>
                <div class="Jay">
                    <h2>Daniel Jay Park</h2>
                    <h3>email@figmasfakedomain.net</h3>
                </div>
                <div class="Mark">
                    <h2>Mark Rojas</h2>
                    <h3>email@figmasfakedomain.net</h3>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>