<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="pageContainer">
        <div class="mainContainerContacts">
            <div class="contactsContainer">
                <div class="contactsH1">
                    <h1>Contactos</h1>
                </div>
                <div class="contactsInfo">
                    <div class="contactIcon">
                        <img src="../assets/images/helena.png" alt="picture of the contact">
                    </div>
                    <div class="contactText">
                        <h2>Helena</h2>
                        <h3>email@figmasfakedomain.net</h3>
                    </div>
                </div>
                <div class="contactsInfo">
                    <div class="contactIcon">
                        <img src="../assets/images/oscar.png" alt="picture of the contact">
                    </div>
                    <div class="contactText">
                        <h2>Oscar</h2>
                        <h3>email@figmasfakedomain.net</h3>
                    </div>
                </div>
                <div class="contactsInfo">
                    <div class="contactIcon">
                        <img src="../assets/images/daniel.png" alt="picture of the contact">
                    </div>
                    <div class="contactText">
                        <h2>Daniel</h2>
                        <h3>email@figmasfakedomain.net</h3>
                    </div>
                </div>
                <div class="contactsInfo">
                    <div class="contactIcon">
                        <img src="../assets/images/jay.png" alt="picture of the contact">
                    </div>
                    <div class="contactText">
                        <h2>Daniel Jay Park</h2>
                        <h3>email@figmasfakedomain.net</h3>
                    </div>
                </div>
                <div class="contactsInfo">
                    <div class="contactIcon">
                        <img src="../assets/images/mark.png" alt="picture of the contact">
                    </div>
                    <div class="contactText">
                        <h2>Mark Rojas</h2>
                        <h3>email@figmasfakedomain.net</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>