<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="generalContainerPosts">
        <div class="mainContainerPosts">
            <div class="fullPost">
                <div class="postHeader">
                    <div class="headerIcon">
                        <img src="../assets/images/helena.png" alt="icono de foto de perfil">
                    </div>
                    <div class="nameGroup">
                        <h2>XXX in Group name</h2>
                        <h3>XX min ago</h3>
                    </div>
                    <div class="moreOptionsIcon">
                        <img src="../assets/icons/More.png" alt="icono de mas opciones">
                    </div>
                </div>
                <div class="postContent"></div>
                <div class="postDescription">
                    <h4>Post description</h4>
                </div>
                <div class="postLikeComment">
                    <div class="heartIcon">
                        <img src="../assets/icons/Heart.png" alt="icono de like">
                    </div>
                    <div class="likes">
                        <h5>XX likes</h5>
                    </div>
                    <div class="commentIcon">
                        <img src="../assets/icons/Comment.png" alt="icono de comentarios">
                    </div>
                    <div class="comments">
                        <h5>XX comments</h5>
                    </div>
                </div>
            </div>
            <div class="fullPost">
                <div class="postHeader">
                    <div class="headerIcon">
                        <img src="../assets/images/daniel.png" alt="icono de foto de perfil">
                    </div>
                    <div class="nameGroup">
                        <h2>XXX in Group name</h2>
                        <h3>XX min ago</h3>
                    </div>
                    <div class="moreOptionsIcon">
                        <img src="../assets/icons/More.png" alt="icono de mas opciones">
                    </div>
                </div>
                <div class="postContent"></div>
                <div class="postDescription">
                    <h4>Post description</h4>
                </div>
                <div class="postLikeComment">
                    <div class="heartIcon">
                        <img src="../assets/icons/Heart.png" alt="icono de like">
                    </div>
                    <div class="likes">
                        <h5>XX likes</h5>
                    </div>
                    <div class="commentIcon">
                        <img src="../assets/icons/Comment.png" alt="icono de comentarios">
                    </div>
                    <div class="comments">
                        <h5>XX comments</h5>
                    </div>
                </div>
            </div>
            <div class="fullPost">
                <div class="postHeader">
                    <div class="headerIcon">
                        <img src="../assets/images/oscar.png" alt="icono de foto de perfil">
                    </div>
                    <div class="nameGroup">
                        <h2>XXX in Group name</h2>
                        <h3>XX min ago</h3>
                    </div>
                    <div class="moreOptionsIcon">
                        <img src="../assets/icons/More.png" alt="icono de mas opciones">
                    </div>
                </div>
                <div class="postContent"></div>
                <div class="postDescription">
                    <h4>Post description</h4>
                </div>
                <div class="postLikeComment">
                    <div class="heartIcon">
                        <img src="../assets/icons/Heart.png" alt="icono de like">
                    </div>
                    <div class="likes">
                        <h5>XX likes</h5>
                    </div>
                    <div class="commentIcon">
                        <img src="../assets/icons/Comment.png" alt="icono de comentarios">
                    </div>
                    <div class="comments">
                        <h5>XX comments</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>