/* --------------- BANNER ARTICLE CSS STYLE-------------- */

/*CONTAINER GENERAL FORMAT*/
.containerBanner {
    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-color: lightgray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5% 5% 5% 5%;
}

/*TITLE FORMAT*/
.titleBanner h1 {
    font-weight:700;
    justify-content: center;
    margin: 0;
}

/*SUBTITLE FORMAT */
.subTitleBanner p {
    justify-content: center;
    color: #B1B8AE;
    font-size: small;
    margin-bottom: 5%;
}

/*IMAGE FORMAT*/ 
.imageBanner img {
    display: flex;
    width: 100%;
    height: 100%;
}


/* ------------- AUTH PAGE CSS STYLE ------------- */ 

/*general container*/
.container-auth{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/*main container with external border*/
.container-authParent {
    position: absolute;
    display:flex;
    border: solid 2px;
    border-color: #B1B8AE;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 80%;
    max-height: 800px;
}

/*my app div and h1 format*/
.myApp {
    position: absolute;
    top: 25px;
    left: 40px;    
}
.myApp h1 {
    font-size: 18px;
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*create account box*/
.createAccount {
    align-items: center;
    justify-content: center;
    padding: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*create account title and subtitle*/
.createAccount h2{
    text-align: center;
    margin-bottom: 0;
    font-size: 20px;
}
.createAccount h3 {
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
    font-weight: 100;
}

/*email form input field style*/
.emailForm {
    display:flex;
    align-items: center;
    justify-content: center;
}
.signupForm input {
    width: 300px;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgray;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px 0 5px 10px;
}

/*sign up with email button style*/
.signupForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}
.signupForm button {
    width: 310px;
    padding: 8px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

/*continue with google section and button style*/
.googleSignup {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.googleSignup .continueWith {
    position: relative;
    padding: 15px;
    color: gray;
    font-size: 13px;
}
.continueWith::before, .continueWith::after {
    content: "---------------------";
    position: relative;
    flex-grow: 1;
    top: 100%;
    transform: translateY(-50%);
    white-space: nowrap;
}

/*google button specifics*/
.googleButton button {
    display: flex;
    border: none;
    width: 310px;
    border-radius: 5px;
    border-color: lightgray;
    box-shadow: none;
    text-shadow: none;
    color: black;
    cursor:pointer;
    text-align: center;
}
.googleButton{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.googleText {
    flex: 1;
    text-align: center;
    justify-content: center;
    padding-top: 4px;
}
.googleButton .googleIcon {
    position: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

/*terms section style*/
.terms p {
    color: gray;
    font-size: 13px;
}
.disclaimerBold {
    color:black;
    font-size: 13px;
    font-weight: 600;
} 



/* ------------- CONTACTS PAGE CSS STYLE ------------- */ 

/*general container full page*/
.pageContainer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
/*main container with gray border*/
.mainContainerContacts {
    display: flex;
    border: solid 2px;
    border-color: #B1B8AE;
    position: relative;
    width: 95%;
    max-width: 1000px;
    height: 80%;
}
/*contacts container*/
.contactsContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid lightgray;
    height: 40%;
    max-height: 330px;
    width: 45%;
    max-width: 330px;
    padding: 5px 10px 20px 15px;
    bottom: 40px;
    right: 35px;
    border-radius: 5px;
}
/*Contactos main title*/
.contactsH1, h1 {
    height: 15%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-top: 6px;
}
/*Contacts list divs*/
.contactsInfo {
    height: 17%;
    display: flex;
    align-items: center;
}
/*image icon style*/
.contactsInfo img {
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 30px;
    display: flex;
}
/*contacts name and email style*/
.contactText {
    margin-left: 10px;
}
.contactsInfo h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
}
.contactsInfo h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #757A73;
    margin-top: 0;
}


/* ------------- POSTS PAGE CSS STYLE ------------- */

.generalContainerPosts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.mainContainerPosts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 900px;
    height: 90%;
    max-height: 700px;
    border: 2px solid lightgray;
}

.fullPost {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.postHeader {
    display: flex;
    flex-direction: row;

}

.headerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 8px 8px;
}
.headerIcon img {
    border-radius: 50%;
    border: 1px solid;
    width: 23px;
    display: flex;
    margin-left: -60px;
}

.nameGroup{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 55px 8px 0;
    margin-left: -8px;
}
.nameGroup h2 {
    font-weight: 100;
    margin-bottom: 0px;
    font-size: 8px;
}
.nameGroup h3 {
    margin-top: 3px;
    font-size: 7px;
}

.moreOptionsIcon {
    display: flex;
    align-items: center;
    margin-right: 0;
}
.moreOptionsIcon img {
    width: 15px;
}

.postContent {
    background-color: #EDF3EB;
    height: 160px;
    width: 150px;
}

.postDescription {
    display: flex;
    position: relative;
    margin-top: 0;
}
.postDescription h4 {
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: 200;
}

.postLikeComment {
    display: flex;
    align-items: center;
}
.postLikeComment h5 {
    font-size: 9px;
    margin-left: 5px;
    margin-right: 10px;
}
.heartIcon img{
    width: 12px;
}
.commentIcon img {
    width: 12px;
}